#################
## Custom
#################

*.template

misc/*

# annoyances
**/.DS_Store/**

# IDE
*.komodoproject
.komodotools

# SASS
**/.sass-cache/**
.sass-cache 
*.sass-cache*
**/.sass-cache/*

# npm, node
node_modules
**/node_modules/**
node_modules/*
**/node_modules

#
vendor/
bin/*
config/*.php
wordpress/*
wp-content/backup/*
wp-content/cache/*
wp-content/plugins/*
wp-content/themes/*
wp-content/upgrade/*
wp-content/uploads/*
wp-content/mu-plugins/*
!wp-content/mu-plugins/bedrock-autoloader.php

# sauce
sauce_connect.log
